body {
    background-color: #f0ece9;
    font-family: 'square peg;' cursive;
    margin: none;
}

header {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

nav {
    font-family: 'Truculenta';
    color: #D4A373;
    font-size: 20px;
}

footer {
    font-family: 'Truculenta' ;
    font-weight: lighter;
    font-size: 20px;
}

main {
    font-family: 'Square Peg', cursive;
    font-size: 30px;
}

.titulo{
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;

}
.menu{
    display: flex;
    justify-content: space-around;    
    text-decoration: none;
}

section{
    font-family: 'Truculenta';
    font-size: medium;
    display: flex;
    justify-content: center;
}
.macrame{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.limpieza{
    display:flex;
    justify-content: center;
    align-items: center;
}
.artesanias{
    display:flex;
    justify-content: center;
    align-items: center;
}
.velas{
    display:flex;
    justify-content: center;
    align-items: center;
}
